
html {
	background-color: #FFFFFF;
	background: url(AdobeStock_86775760.jpeg);
	background-size: cover;
}

* {
	border: 0px dashed black;
}

#name {
	font-family: 'Rochester', Arial, Verdana;
	font-size: 90px;
	color: #000000;
	text-align: center;
	padding: 0;
	margin: 0;
}

#message {
	font-family: 'Roboto Slab', Garamond;
	font-size: 60px;
	line-height: 50px;
	color: #000000;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#fb {
	text-decoration: none;
	font-family: 'Roboto Slab', Garamond, sans-serif, Arial, Verdana;
	font-size: 20px;
	line-height: 20px;
	border: 2px solid #000000;
	color: #000000;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

#foot {
	font-family: 'Roboto Slab', Garamond, sans-serif, Arial, Verdana;
	font-size: 15px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	position: absolute;
	bottom: 0;
}