/*all pages*/
* {
	border: 0px dashed black;
}

/*all pages*/
html, body {
	height: 100%;
}

/*all pages*/
.outerContainer {
	font:  17px/20px Helvetica,'Lucida Grande', Tahoma, Verdana, sans-serif;
	background-color: #FFFFFF;
	min-height: 100%;
	width: 100%;
}

/*all pages - footer*/
.footer{
	display: block;
	background-color: #FFFFFF;
	clear: both;
	float: bottom;
	height: 20px;
	padding-top: 10px;
	bottom: 0;
	right: 0;
	left: 0;
}

/*all pages - footer*/
p.bottomaddress {
  font:  17px/20px Helvetica, 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #b3b3b3;
  font-size: 12px;
  text-align: center;
}

/*all pages - footer*/
.bottomaddress a {
	color: #b3b3b3;
}

.heading {
	display: block;
}

/*SK Salon Title*/
#topName {
	font-family: 'Rochester', Helvetica;
	font-size: 72px;
	line-height: 75px;
	color: #000000;
	text-align: center;
	margin: 10px;
	padding: 10px;
}

/*Title of page: Contact, About, etc.*/
.pageHeading {
	font-family: 'Josefin Sans', Helvetica;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	color: #000000;
	padding-top: 25px;
	padding-bottom: 10px;
	float: center;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

/*Social Media Icons at top of page*/
.topIcons {
	display: inline-block;
	position: absolute;
	top: 3%;
	right: 15%;
}

/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}

/* Remove margins and padding from the list, and add a background color */
ul.topnav {
    list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
	text-align: center;
}

/* Float the list items side by side */
ul.topnav li {
	display: inline-block;
}

/* Style the links inside the list items */
ul.topnav li a {
	font-family: 'Josefin Sans', Helvetica, Verdana;
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
	color: #000000;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #b3b3b3;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

 /* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:760px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:760px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: inline-block;
    text-align: center;
  }
}

/*Home Page - carousel*/
#myCarousel {
	border: 1px solid black;
}

.content{
  max-width: 1024px;
  margin: auto;
  background-color:#FFFFFF;
}

/*Home Page - main body of text below carousel*/
.main{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	line-height: 25px;
	text-align: center;
	color: #000000;
}

/*Home Page - bottom divs (contact, location, hours)*/
.boxes {
	width: 100%;
	text-align: center;
}

/*Home Page - bottom divs (contact, location, hours)*/
.boxStyle {
	font-family: Helvetica, Verdana;
	color: #000000;
	font-size: 15px;
	line-height: 20px;
	border-top: 1px solid black;
	list-style: none;
}

/*Home Page - icons above bottom divs*/
.iconStyle {
	width: 100px;
	height: 100px;
}

/*Home page - contact info*/
#contact {
	font-family: 'Rokkitt', serif;
	font-size: 26px;
	line-height: 28px;
	float: left;
	width: 250px;	
}

/*Home page - salon location info*/
#location {
	font-family: 'Rokkitt', serif;
	font-size: 26px;
	line-height: 28px;
	display: inline-block;
	margin: 0 auto;
	width: 250px;
}

/*Home page - salon hours info*/
#hours {
	font-family: 'Rokkitt', serif;
	font-size: 26px;
	line-height: 28px;
	float: right;
	width: 250px;
}

/*Contact page*/
#map {
	float: left;
	font-family: 'Josefin Sans', Helvetica, Verdana, sans-serif;
	font-size: 18px;
	color: #000000;
	text-align: center;
	padding-top: 50px;
	width: 45%;
}

/*Contact page - size of map displayed*/
#map iframe  {
	width: 400px;
	height: 330px;
}

/*Contact page - contact div*/
#contactArea {
	display: block;
	float: right;
	padding-top: 50px;
	width: 45%;
	font-family: 'Josefin Sans', Helvetica, Verdana, sans-serif;
	font-size: 18px;
	color: #000000;
}

/*Contact page - contact form message above boxes*/
#contactMsg {
	font-family: 'Josefin Sans', Helvetica, Verdana, sans-serif;
	font-size: 18px;
	color: #000000;
	text-align: center;
}

/*Contact page - link to Vagaro appointment scheduling page*/
#contactMsg a {
	color: #000000;
	text-decoration: none;
}

/*Contact page - link to Vagaro appointment scheduling page*/
#contactMsg a:hover {
	color: #b3b3b3;
}

/*Contact page - contact form boxes*/
#contactArea input[type=text], #contactArea textarea {
	border: 1px solid #b3b3b3;
	width: 100%;
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 14px;
	color: #000000;
	padding: 5px;
}

/*Contact page - contact form labels (name, email, etc.)*/
#contactArea label {
	font-family: 'Josefin Sans', Helvetica, Verdana;
	font-size: 16px;
	color: #000000;
	padding-top: 5px;
}

/*Contact page - contact form sumbit button*/
#contactArea input.submit-button {
	width: 100%;
	padding: 5px;
	font-family: 'Josefin Sans', Helvetica, Verdana;
	font-size: 18px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #b3b3b3;
}

/*Photos page - main gallery*/
#gallery {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
	overflow: hidden;
	text-align: center;
	padding-top: 30px;
	border-top: 1px solid black;
}

/*Photos page - image gallery list*/
#gallery li {
	display: inline-block;
	width: 30%;
	padding: 5px;
	margin: 0 12px 12px 0;
	position: relative;
	cursor: pointer;
	border-radius: 5px;
}

/*Photo page*/
#gallery img {
	width: 100%;
	border-radius: 5px;
	display: block;
}

/*Photo page*/
#gallery img:hover {
	opacity: 0.7;
}

/*Photo page - lightbox overlay when user clicks on image*/
#lightbox{
	display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
	color: #ffffff;
}

/*Photo page - lightbox overlay when user clicks on image*/
#lightbox img {
	max-width: 80%;
	max-height: 80%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	display: block;
}

/* WORKING ON: Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/*Products Page - main div*/
.productsContent {
	width: 100%;
	display: block;
	padding-top: 50px;
	margin: 10px;
	text-align: center;
	font-family: 'Josefin Sans', Helvetica, Verdana;
	font-size: 20px;
	color: #000000;
	
}

/*Products Page*/
#productsOne {
	width: 47%;
	display: inline-block;
	margin-bottom: 30px;
}

/*Products Page*/
#productsOne img {
	width: 70%;
	display: inline-block;
	border-radius: 10px;
}

/*Products Page*/
#productsTwo{
	width: 47%;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 30px;
}

/*Products Page*/
#productsThree {
	width: 47%;
	display: inline-block;
	vertical-align: middle;
	margin-top: 30px;
}

/*Products Page*/
#productsFour {
	width: 47%;
	display: inline-block;
	margin-top: 30px;
}

/*Products Page*/
#productsFour img{
	width: 70%;
	border-radius: 10px;
}

/* Stylists Page*/
#heading {
	text-decoration: bold;
	text-align: center-left;
	font-size: 30px;
	display: inline-block;
}

/*Admin Page*/
.adminLogIn {
	padding-top: 50px;
	width: 100%;
	font-family: 'Josefin Sans', Helvetica, Verdana, sans-serif;
	font-size: 18px;
	color: #000000;
	text-align: center;
}

/*Admin Page - login/sign up form boxes*/
.adminLogIn input[type=text], .adminLogIn input[type=password] {
	border: 1px solid #000000;
	width: 30%;
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 14px;
	color: #000000;
	padding: 5px;
}

/*Admin Page - login/sign up form labels (name, password)*/
.adminLogIn label {
	font-family: 'Josefin Sans', Helvetica, Verdana;
	font-size: 16px;
	color: #000000;
	padding-top: 5px;
}

/*Admin Page - login/logout/sign up button*/
.adminLogIn button {
	width: 20%;
	padding: 5px;
	font-family: 'Josefin Sans', Helvetica, Verdana;
	font-size: 18px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #000000;
}


/*MEDIA QUERIES*/

/*Photo page - 95% image width of lightbox on smaller screens */
@media only screen and (max-width: 800px),
only screen and (max-device-width: 800px){
	#map {
		width: 100%;
		text-align: center;
	}
	#contactArea {
		width: 100%;
		text-align: center;
	}
	#contactArea input[type=text], #contactArea textarea {
		width: 80%;
	}
	#contactArea input.submit-button {
		width: 80%;
	}
	.adminLogIn input[type=text], .adminLogIn input[type=password] {
		width: 50%;
	}
}

/*Photo page - gallery responsiveness 2 columns image list*/
/*Contact page - single column separates map from contact form*/
@media only screen and (max-width: 760px),
only screen and (max-device-width: 760px){
	#gallery li {
		width: 45%;
	}
	#lightbox img{
        max-width: 95%;
    }
}

/*Products Page - single column on smaller screens*/
@media only screen and (max-width: 700px),
only screen and (max-device-width: 700px){
	#productsOne {width: 90%;}
	#productsTwo {width: 90%;}
	#productsThree {width: 90%;}
	#productsFour{width: 90%;}
}

/*Admin Page - adjust label and button width*/
@media only screen and (max-width: 600px),
only screen and (max-device-width: 600px){
	.adminLogIn input[type=text], .adminLogIn input[type=password] {
		width: 65%;
	}
	
	.adminLogIn button {
		width: 35%;
	}
}

/*Photo page - gallery responsiveness single column image list*/
@media only screen and (max-width: 530px),
only screen and (max-device-width: 530px){
	#gallery li {width: 80%;}
}

/*Contact page - makes map smaller on smaller device*/
@media only screen and (max-width: 475px),
only screen and (max-device-width: 475px){
	#map iframe  {
	width: 350px;
	height: 280px;
	}
	
	.adminLogIn input[type=text], .adminLogIn input[type=password] {
		width: 80%;
	}
	
	.adminLogIn button {
		width: 40%;
	}
}

/*Contact page - makes map smaller on smaller device*/
@media only screen and (max-width: 375px),
only screen and (max-device-width: 375px){
	#map iframe  {
	width: 300px;
	height: 250px;
	}
}


/* Code below goes with the admin form styling */
 /* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the links inside the tab */
div.tab a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
div.tab a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


