html {
	background-color: #FFFFFF;
	background: url(salonSupplies.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

#name {
	font-family: 'Rochester', Arial, Verdana;
	font-size: 90px;
	color: #000000;
	text-align: center;
	padding: 0;
	margin: 0;
}

#contact{
	font-family:'Roboto Slab', Garamond, sans-serif, Arial, Verdana;
	font-size: 25px;
	color: #000000;
	text-align: center;
}

#message {
	font-family: 'Roboto Slab', Garamond;
	font-size: 60px;
	line-height: 50px;
	color: #000000;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#fb {
	text-decoration: none;
	font-family: 'Roboto Slab', Garamond, sans-serif, Arial, Verdana;
	font-size: 20px;
	line-height: 20px;
	border: 2px solid #000000;
	color: #000000;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

#fb:hover {
	color: gray;
}

/*Media Queries*/
@media only screen and (max-width: 650px),
only screen and (max-device-width: 650px){
	#name {
		font-size: 70px;
	}
	#contact {
		font-size: 20px;
	}
	#message {
		font-size: 45px;
		padding-top: 20px;
	}
}

@media only screen and (max-width: 400px),
only screen and (max-device-width: 400px){
	#name {
		font-size: 50px;
	}
	#contact {
		font-size: 18px;
	}
	#message {
		font-size: 35px;
		padding-top: 50px;
	}
}
