* {
	border: 0px dashed black;
}

.outerContainer {
        font:  17px/20px Helvetica,'Lucida Grande', Tahoma, Verdana, sans-serif;
        background-color: #FFFFFF;
        min-height: 100%;
        width:100%;
}

#topName {
	font-family: 'Rochester', Helvetica;
	font-size: 32px;
	color: #000000;
}

/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}

/* Remove margins and padding from the list, and add a background color */
ul.topnav {
    list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
	text-align: center;
}

/* Float the list items side by side */
ul.topnav li {
	display: inline-block;
}

/* Style the links inside the list items */
ul.topnav li a {
	font-family: 'Josefin Sans', Helvetica, Verdana;
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
	color: #000000;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #b3b3b3;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

 /* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: inline-block;
    text-align: center;
  }
}

#myCarousel {
	border: 1px solid black;
}

.content{
  max-width:1024px;
  margin:auto;
  background-color:#FFFFFF;
}

.fb{
  float:left;
}

#FB {
	color: #002b80;
}

#FB:hover {
	text-decoration: none;
	color: gray;	
}

.main{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	line-height: 25px;
	text-align: center;
	color: #000000;
}

.boxes {
	width: 100%;
	text-align: center;
}

.boxStyle {
	font-family: Helvetica, Verdana;
	color: #000000;
	font-size: 15px;
	line-height: 20px;
	border-top: 1px solid black;
	
}

#contact {
	font-family: 'Rokkitt', serif;
	font-size: 26px;
	line-height: 28px;
	float: left;
	width: 250px;	
}

#location {
	font-family: 'Rokkitt', serif;
	font-size: 26px;
	line-height: 28px;
	display: inline-block;
	margin: 0 auto;
	width: 250px;
}

#hours {
	font-family: 'Rokkitt', serif;
	font-size: 26px;
	line-height: 28px;
	float: right;
	width: 250px;
}

.footer{
  clear:both;
  background-color: #FFFFFF;
  padding: 200;
  float: bottom;
}

p.bottomaddress {
  font:  17px/20px Helvetica, 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #b3b3b3;
  font-size: 12px;
  text-align: center;
}